.home-bg {
	background-color: #DBEBFF;
}

.about-bg {
	background-color: #CFFEF0;
}

.cv-bg {
	background-color: #F1ECFF;
}

.works-bg {
	background-color: #FFECEC;
}

.soft-bg {
	background-color: #FFFFE3;
}

.news-bg {
	background-color: #E1ECDF;
}