body {
    margin: 40px auto;
    width: 75%;
}

nav {
    border-bottom: 2px solid #d5d5d5;
}
nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 1.8em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul.blurb {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;

}

li {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}

a.socialIcons {
    margin-top: 5 px;
    text-align: center;;
    display: inline-table;
    vertical-align: middle;
    width: 25%;
}

a.socialIcons:hover {
opacity: .7;
filter:alpha(opacity=80); /* For IE8 and earlier */
}
